.cart-price-section {
  grid-column: 2;
  grid-row: 2;
  background-color: var(--primary-text-color);
  max-width: 20rem;
  width: 100%;
  height: max-content;
  padding: 1rem;
  border-radius: 1rem;
}

/* Price details container*/

.cart-price-container {
  margin-top: 1.5rem;
  border-top: 1px solid var(--secondary-text-color);
}

/* Price container  rows */

.cart-price-container div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0;
}

.cart-price-container div:last-child {
  margin: 1rem 0;
  padding: 8px 0;
  border-top: 1px solid var(--secondary-text-color);
  border-bottom: 1px solid var(--secondary-text-color);
}

/* Cart Price title*/
.cart-price-section > p {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.cart-order-btn {
  width: 100%;
}

@media only screen and (max-width: 60em) {
  .cart-price-section {
    max-width: 20rem;
    grid-row: 2;
    grid-column: 1;
    border-radius: 1rem;
  }
}
