.rating-container {
  width: min-content;
}

.rating-bg {
  background: rgb(187, 187, 187);
  background-clip: text;
  -webkit-background-clip: text !important;
  margin-right: 2px;
}

.rating-bg span {
  font-size: 13px;

  color: transparent;
}
