.wishlist-btn {
  border-radius: 1.5rem;
  border: none;
}

.wishlist-btn:hover {
  border-color: var(--footer-color);
  background-color: var(--footer-color);

  color: var(--muted-dark-color);
  box-shadow: inset 2px 4px 8px rgba(154, 154, 154, 0.25);
}

.wishlist-btn-active {
  color: var(--wishlist-active);
}
