.wishlist-body,
.wishlist {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wishlist-body {
  width: 100vw;
  height: 100%;

  margin-inline: 0;

  flex-direction: column;
}

.wishlist-body > h2 {
  margin: 2rem 0;
}

.wishlist {
  min-height: 80vh;
  height: 100%;
  flex-wrap: wrap;
}

.wishlist .card {
  border: 2px solid var(--secondary-text-color);
}

.card-foot {
  margin-bottom: 0;
}
