input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/* layout */

.cart-body {
  /* width: 100vw; */
  /* margin-top: 4rem; */
  /* display: grid; */
  /* grid-template-columns: repeat(2, 1fr); */
  /* grid-template-rows: auto 1fr; */
  /* place-content: center; */
  /* justify-items: center; */
  padding: 0 5rem;
  /* height: 100%; */

  position: relative;
}

.cart-body > h3 {
  padding-top: 1rem;
  margin-bottom: 1rem;
}

.cart-body > div {
  display: flex;
}

/* My Cart Heading*/

.cart-body > h2 {
  /* grid-row: 1;
  grid-column: 1 / span 2;
  text-align: center; */
  margin: 2rem 0;
  width: 100%;
}

.cart-product-list {
  /* min-height: 100vh; */
  /* grid-column: 1;
  grid-row: 2; */
  width: 100%;
  overflow-x: hidden;
}

/* Card Styling specifically for cart page*/

@media only screen and (max-width: 60em) {
  body {
    font-size: 80%;
  }
  .cart-body {
    /* align-items: center; */
    /* grid-template-columns: 1fr; */
    /* gap: 1rem; */
    padding: 0 1rem;
  }

  .cart-body > div {
    flex-direction: column;
  }
  .cart-product-list {
    /* padding: 0.5rem; */
    width: 100%;
    /* grid-row: 3; */
    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items: center; */
    /* flex-wrap: wrap; */
  }

  .cart-product-list .cart-card {
    /* margin: 1rem; */
    width: 100%;
  }
}

@media only screen and (max-width: 37.5em) {
  .cart-product-list .cart-card {
    height: 100%;
  }
}
