div.card {
  box-shadow: none;
  transform: scale(1);
  transition: 0.5s;
  position: relative;
  margin: 0;
  overflow: auto;
  transition: all 0.5s ease-in-out;
  width: auto;
}

.card-head,
.card-content,
.card-foot {
  padding-inline: 0;
}

span.badge-primary {
  font-weight: 500;
  padding: 4px 8px;
  background-color: var(--badge-color);
}

div.card:hover {
  box-shadow: none;
}

div.card-image-container {
  border-radius: 1.5rem;
}

div.card:hover .card-image-container {
  padding: 0;
}

.card-text-overlay {
  top: 0;
  left: 0;
}

.badge-sm {
  padding: 2px 5px;
  border-radius: 1rem;
}

.card:not([name='card-heading']) {
  font-family: var(--body-font);
}

.card:hover {
  box-shadow: 4px 8px 32px rgba(151, 151, 151, 0.4);
  cursor: pointer;
}

.card-image-container {
  border-radius: 0.5rem;
  overflow: hidden;
}

.card-og-price {
  display: inline-block;
}

.card-foot {
  margin-bottom: 0;
}

@media screen and (max-width: 90em) {
  .card {
    /* width: 18rem; */
  }
}

@media screen and (max-width: 60.125em) {
  .card {
    /* min-width: 15rem; */
  }
  /* .card-image-container {
    height: 20em;
  } */
}

@media screen and (max-width: 50em) {
  .card {
    /* min-width: 10rem; */
  }
}

@media screen and (max-width: 50em) {
  .card {
    /* width: 20rem; */
  }
}
