.card {
  /* padding: 1rem; */
  box-shadow: none;
  transform: scale(1);
  transition: 0.5s;
  position: relative;
  margin: 0;
  transition: all 0.5s ease-in-out;
}

.card-head,
.card-content,
.card-foot {
  padding-inline: 0;
}

div.card:hover {
  box-shadow: none;
}

div.card:hover .card-head > h3 {
  text-decoration: underline;
}

div.card:hover .card-image-container {
  padding: 0;
}

.card-text-overlay {
  top: 0;
  left: 0;
}

.badge-sm {
  padding: 2px 5px;
  border-radius: 1rem;
}

.card:not([name='card-heading']) {
  font-family: var(--body-font);
}

.card:hover {
  box-shadow: 4px 8px 32px rgba(151, 151, 151, 0.4);
  cursor: pointer;
}

.card-image-container {
  border-radius: 0.5rem;
  overflow: hidden;
}

.card-og-price {
  display: inline-block;
}

.card-foot {
  margin-bottom: 0;
}
