.card {
  padding: 1rem;
  box-shadow: none;
  transform: scale(1);
  transition: 0.5s;
  position: relative;
}

.card:not([name='card-heading']) {
  font-family: var(--body-font);
}

.card:hover {
  box-shadow: 4px 8px 32px rgba(151, 151, 151, 0.4);
  cursor: pointer;
}

.card-image-container {
  border-radius: 0.5rem;
  overflow: hidden;
}

.card-og-price {
  display: inline-block;
}

.home-card:hover {
  transform: scale(0.9);
  box-shadow: none;
}

.home-card .card-image-container {
  height: 90%;
}

.home-card-hover {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgb(0, 0, 0, 0.5);

  align-items: center;
  justify-content: center;
  top: 100%;
  left: 0;
  transition: 0.5s;
}
