:root {
  --browse-btn-shadow: rgb(0, 0, 0);
}

.category-card {
  /* height: 20rem; */
  height: fit-content;
}

.category-card .card-image-container {
  height: 18rem;
}

.category-card-head {
  margin-bottom: 0;
}

.category-card-head .card-heading {
  font-size: 1.5rem;
}

.home-card:hover {
  box-shadow: none;
}

.category-image {
  object-position: center bottom;
  transition: all 0.2s ease-in;
}

.home-card:hover .category-image {
  transform: scale(1.2);
  filter: brightness(50%) blur(4px);
}

.category-card-head {
  align-items: center;
  justify-content: space-between;
}

.card-image-container {
  position: relative;
  transform-origin: 0 0;
}

.card-title-wrap {
  position: absolute;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
}

.card-title {
  font-size: 1.5rem;
  text-transform: capitalize;
  background-clip: text;
  -webkit-background-clip: text;
  color: rgba(255, 255, 255, 0.995);
  /* filter: invert(1); */
  /* mix-blend-mode: multiply; */
  opacity: 1;
  transition: all 0.2s ease-in;
}

.home-card:hover .card-title,
.home-card:hover .card-title-wrap {
  opacity: 1;
}

.home-card:hover .card-title {
  transform: scale(1.2);
}

.browse-btn {
  border-radius: 1.5rem;
  margin-right: 5px;
  background-color: var(--muted-dark-color);
  color: var(--primary-text-color);
}

.browse-btn:hover {
  background-color: var(--muted-dark-color);
  border-color: var(--muted-dark-color);
}

.browse-btn:active {
  transform: translateY(2px);
  box-shadow: 2px 0px var(--browse-btn-shadow);
}

/* .home-card-hover { */
/* height: 100%; */
/* width: 100%;
  position: absolute;
  background-color: rgb(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  top: 100%;
  left: 0;
  transition: 0.5s;
} */
