/* Filter Styles */

.filter-section {
  /* grid-column: 1;
  width: 100%;
  height: 100%; */
  opacity: 0;

  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  position: fixed;
  padding: 1rem 0px;
  backdrop-filter: brightness(25%);
  pointer-events: none;
  transition: 0.5s ease-in-out;
  z-index: 999;
}

.filter-section.filterVisible {
  opacity: 1;
}

.filter-section > * {
  pointer-events: auto;
}

.filter-container {
  height: 100%;
  width: 20vw;
  transform: translateX(-170%);
  background-color: rgb(245, 245, 245);
  transition: all 0.5s ease-in-out;
}

.filter-section.filter-section.filterVisible .filter-container {
  transform: translateX(0);
}

.filter-elements,
.filter-price-bottom-container {
  margin-top: 1rem;
}

.filter-head-section {
  align-items: baseline;
  justify-content: space-between;
}

.filter-clear-btn,
.filter-clear-btn:hover {
  color: var(--hover-color);
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
  padding: 0;
}

.filter-input-container,
.filter-price-bottom-container {
  display: flex;
}

.filter-input-container {
  padding: 0.5rem;
  flex-direction: column;
}

.filter-price-bottom-container {
  justify-content: space-between;
  font-size: 14px;
  font-weight: 500;
}

.checkbox {
  margin-right: 5px;
  height: 15px;
  width: 15px;
}

.filter-range-selector {
  width: 100%;
}

.range-selector {
  appearance: none;
  height: 2px;
  border-radius: 4rem;
  background-color: var(--slider-color);
  cursor: pointer;
  opacity: 0.8;
  transition: 0.4s;
}

.range-selector:focus,
.range-selector:hover {
  height: 8px;
}

.filter-category-element .filter-input-container {
  height: 6rem;
  overflow-y: scroll;
}

.filter-category-element .filter-input-container::-webkit-scrollbar {
  width: 6px;
}
