/* Filter Styles */

.filter-section {
  opacity: 0;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  position: fixed;
  backdrop-filter: brightness(25%);
  pointer-events: none;
  transition: 0.5s ease-in-out;
  z-index: 999;
}

.filter-section.filterVisible {
  opacity: 1;
}

.filter-section > * {
  pointer-events: auto;
}

.filter-container {
  height: 100%;
  width: clamp(18rem, 24vw, 50rem);
  padding: 1rem 2rem;

  transform: translateX(-170%);
  background-color: var(--primary-text-color);
  transition: all 0.5s ease-in-out;
  position: relative;
}

.filter-close-btn {
  height: 2rem;
  width: 2rem;
}

.filter-close-btn:hover,
.filter-clear-btn:hover {
  background-color: var(--muted-dark-color);
  border-color: var(--muted-dark-color);
  text-decoration: none;
}

.filter-section.filter-section.filterVisible .filter-container {
  transform: translateX(0);
}

.filter-elements,
.filter-price-bottom-container {
  margin-top: 1rem;
}

.filter-elements h3 {
  margin-top: 16px;
}

.filter-head-section {
  align-items: baseline;
  justify-content: space-between;
  margin-top: 2rem;
}

.filter-clear-btn {
  display: flex;
  margin-left: auto;
  margin-top: 0.5rem;
  font-size: 1rem;
}

.filter-clear-btn {
  color: var(--muted-dark-color);
  background-color: var(--primary-text-color);
  border: 1.5px solid var(--muted-color);
  box-shadow: none;
  border-radius: 0.5rem;
}

.filter-input-container,
.filter-price-bottom-container {
  display: flex;
}

.filter-input-container {
  margin-top: 8px;
  flex-direction: column;
}

.filter-price-bottom-container {
  justify-content: space-between;
  font-size: 14px;
  font-weight: 500;
}

.filter-range-selector {
  width: 100%;
}

.range-selector {
  appearance: none;
  height: 2px;
  border-radius: 4rem;
  background-color: var(--slider-color);
  cursor: pointer;
  opacity: 0.8;
  transition: 0.4s;
}

.range-selector:focus,
.range-selector:hover {
  height: 8px;
}

.range-selector::-webkit-slider-thumb {
  appearance: none;
  height: 1rem;
  width: 1rem;
  border-radius: 1.5rem;
  background-color: var(--active-color);
  cursor: pointer;
}

.range-selector::-moz-range-thumb {
  height: 1rem;
  width: 1rem;
  border-radius: 1.5rem;
  background-color: var(--active-color);
  cursor: pointer;
}

.range-selector::-webkit-slider-thumb:hover {
  filter: brightness(90%);
}
.range-selector::-moz-range-thumb:hover {
  filter: brightness(90%);
}

.filter-category-element .filter-input-container {
  height: 6rem;
  overflow-y: scroll;
}

.filter-category-element .filter-input-container::-webkit-scrollbar {
  width: 6px;
}

.checkbox-container {
  position: relative;
  padding-left: 1.2rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.checkbox-container input {
  opacity: 0;
  position: absolute;
  height: 0;
  width: 0;
}

.checkbox-container:hover input ~ span {
  background-color: var(--muted-color);
}

.checker,
.radio {
  height: 1rem;
  width: 1rem;
  /* border: 2px solid var(--muted-dark-color); */
  background: rgba(149, 149, 149, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.checker {
  border-radius: 3px;
}

.radio {
  border-radius: 8px;
}

.checkbox-container input:checked ~ span {
  background-color: var(--active-color);
}
