.navbar.home-navbar {
  padding: 8px 5rem;
  /* backdrop-filter: blur(0); */
  margin-bottom: 0;
  z-index: 999;
  position: relative;
}

.logo-container h2 {
  letter-spacing: 4px;
  font-weight: normal;
}

.logo-container:hover {
  cursor: pointer;
}

.navbar-btn {
  display: none;
  position: absolute;
  right: 2rem;
  top: 1rem;
  font-size: 1.5rem;
  z-index: 999;
}

.navbar-icon {
  font-size: 1rem;
}

.btn.navbar-link {
  border-radius: 0.5rem;

  border: transparent;
  background-color: transparent;
  box-shadow: none;
}

.btn.navbar-link:hover {
  color: var(--muted-color);
}

.navbar-link.active {
  color: var(--active-color);
  background-color: transparent;
  box-shadow: none;
  border: transparent;
}

.side-nav {
  display: none;
  height: 100vh;
  width: min(100%, 30rem);
  background-color: rgb(250, 250, 250);
  transform: translateX(100%);
  position: fixed;
  font-size: clamp(4rem, 4.2vw + 1rem, 8rem);
  z-index: 990;
  top: 0;
  right: 0;
  transition: 0.5s ease-in;
}

@media only screen and (max-width: 58.75em) {
  .navbar-icon {
    font-size: 14px;
  }

  .home-navbar .logo-container {
    justify-self: start;
  }

  .home-navbar .navbar-menu {
    justify-self: end;
  }
}

@media only screen and (max-width: 53.125em) {
  .navbar-btn {
    display: block;
    z-index: 999;
  }

  .navbar-menu {
    display: none;
  }

  .side-nav {
    display: flex;
    align-items: center;
  }

  .side-nav.visible {
    transform: translateX(0);
  }

  .navbar-list {
    flex-direction: column;
  }
  .navbar-list .navbar-item {
    display: block;
    /* flex-direction: column; */
  }
}

@media only screen and (max-width: 60em) {
  .navbar.home-navbar {
    padding-inline: 1rem;
  }
}
