.navbar.home-navbar {
  padding: 8px 5rem;
  /* background-color: rgb(255, 255, 255); */

  /* background-color: rgba(0, 0, 0, 0.5); */
  backdrop-filter: blur(0) brightness(50);

  mix-blend-mode: multiply;
  margin-bottom: 0;
  top: 0;
  position: fixed;
  z-index: 3;
}

.logo-container h2 {
  letter-spacing: 4px;
  font-weight: normal;
}

.logo-container:hover {
  cursor: pointer;
}

.navbar-icon {
  font-size: 1rem;
}

.btn.navbar-link {
  border-radius: 0.5rem;

  border: transparent;
  background-color: transparent;
  box-shadow: none;
}

.btn.navbar-link:hover {
  color: var(--muted-color);
}

.navbar-link.active {
  color: var(--active-color);
  background-color: transparent;
  box-shadow: none;
  border: transparent;
}

/* .navbar-link.active:hover {
  background-color: var(--active-color);
  color: var(--primary-text-color);
} */

.navbar-link,
.logo-container {
  /* color: var(--primary-text-color); */
}

@media only screen and (max-width: 58.75em) {
  .navbar-icon {
    font-size: 14px;
  }

  .home-navbar .logo-container {
    justify-self: start;
  }

  .home-navbar .navbar-menu {
    justify-self: end;
  }
  .navbar.home-navbar {
    /* padding: 8px 1rem; */
    /* padding-inline: 1rem; */
  }
}

@media only screen and (max-width: 60em) {
  .navbar.home-navbar {
    /* padding: 8px 1rem; */
    padding-inline: 1rem;
  }
}
