.product-card .card-image-container {
  border-radius: 1.5rem;
}

div.product-card:hover .card-head > h3 {
  text-decoration: underline;
}

.card-head-top {
  justify-content: space-between;
}

/* .product-card .card-heading {
  font-size: 1rem;
  font-weight: 800;
} */

.product-card .card-subheading {
  margin-top: 5px;
  color: var(--muted-color);
}

.currency-symbol {
  font-size: 12px;
  margin-right: 2px;
}

/* @media only screen and (max-width: 1200px) {
  div.product-card {
  
    width: 18rem;
  }
} */

@media screen and (max-width: 40em) {
  div.product-card {
    width: 100%;
  }
}
