.cart-card.card-horizontal {
  transition: 0s;
  justify-content: center;
  align-content: center;
  width: 100%;
  margin-inline: auto;
  grid-template-columns: 0.3fr 1fr;
  column-gap: 1rem;
  height: 12rem;
  /* height: 100%; */

  margin: 0 0 2rem 0;
}

.cart-card .card-image-container {
  height: 100%;
}

.cart-card .card-head {
  align-items: baseline;
  justify-content: space-between;
}

.card-horizontal .card-quantity-container {
  align-items: center;
  border: 2px solid black;
  border-radius: 1.2rem;
  padding: 2px;
}

.cart-card .card-pricing {
  flex-direction: column;
}

.card-quantity-input {
  width: 2rem;
  pointer-events: none;

  border-radius: 0.4rem;
  color: var(--active-color);
  border: none;
  padding: 5px;
  font-size: 1rem;
  margin: 0 2px;
  text-align: center;
}

.card-horizontal .card-foot {
  margin-bottom: 0;
  grid-column: 2;
  width: 100%;

  align-items: center;
}

.card-foot .btn-container {
  margin-left: auto;
}

.btn-container .card-delete-btn {
  border-radius: 1.5rem;
}

.btn-container .card-delete-btn:hover {
  background-color: var(--muted-dark-color);
  border-color: var(--muted-dark-color);
}

.card-quantity-container .btn {
  padding: 5px 7px;
  background-color: var(--muted-dark-color);
  border-color: var(--muted-dark-color);
  color: var(--primary-text-color);
  border-radius: 1.2rem;
  transition: all 0.2s ease-in;
}

.card-quantity-container .btn:hover {
  background-color: var(--muted-color);
  border-color: var(--muted-color);
}

.card-quantity-container .btn:active {
  transform: translateY(2px);
}

.card-quantity-container .btn-deactive,
.card-quantity-container .btn-deactive:hover {
  background-color: rgb(168, 168, 168);
  border-color: rgb(168, 168, 168);
  /* color: rgb(78, 77, 77); */
  box-shadow: none;
}

@media only screen and (max-width: 75em) {
  .cart-card {
    padding: 0.5rem;
  }
}

/* @media only screen and (max-width: 60em) {
  .cart-body {
    align-items: center;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 0 1rem;
  }
  .cart-card.card-horizontal {
    width: 18rem;
    min-height: 27rem;
    grid-template-columns: 1fr;
  }

  .cart-card .card-head,
  .cart-card .card-content,
  .cart-card .card-foot {
    grid-column: 1;
    margin: 5px 0;
  }

  .card-quantity-container {
    margin: 0;
  }
  .quantity-plus-btn,
  .quantity-minus-btn {
    padding: 6px 4px;
  }

  .cart-product-list .cart-card {
    margin: 1rem;
  }
} */

@media screen and (max-width: 60em) {
  .cart-card {
    /* border-radius: 1.5rem; */
    /* background-color: aqua; */
  }

  .cart-card .card-image-container {
    border-radius: 1rem;
    /* min-width: 5rem; */
    /* max-height: 5rem; */
  }
}
